
body#LoginForm{ background-image:url("../img/background3.png"); background-repeat:no-repeat; background-position:center;

}
body#FreeForm{ background-image:url("../img/background2.png"); background-repeat:no-repeat; background-position:center;

}
body#MemberForm{ background-image:url("../img/background1.png"); background-repeat:no-repeat; background-position:center;

}
.logo{
    display:inline-block;
    width:auto;
}
.form-heading { color:#ffffff; font-size:23px; margin-bottom:20px; margin-top:50px;}
.primary-h{
    color:#53853d; 
}

.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;

}
.carousel-inner {
  width:100%;

}
.carousel-caption{
    height:100px;
}
.bg-dark{
     background-color:white;
    border:2px solid #D0F9EF;
    
}
.span{
    display: inline-block;

    }
#content{
    overflow: visible;
        
    }
.imfor-div{
    max-height: 200px;
    background: #ffffff none repeat scroll 0 0;
    boarder-radius: 2px;
    margin: 10px auto 10px;
    padding: 20px 20px 20px 21px;
}
.main-div {
    max-width: 400px;

  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;

  padding: 50px 70px 70px 71px;

}
.board-main-div {
    max-width: 900px;
    min-width: 800px;
    min-height: 77%;
    overflow: visible;

  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;

  padding: 50px 70px 70px 71px;

}
.noresize {
    resize: none; /* 사용자 임의 변경 불가 */
}
.view-div {
    max-width: 97%;
    min-height: 77%;
    overflow: visible;

  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;

  padding: 50px 70px 70px 71px;

}
.login-form .form-group {
  margin-bottom:10px; 

}
.btn btn-light{
               height:13px;
           }
.login-form{ text-align:center;  }
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
    color: #ffffff;
  font-size: 14px;
  margin: auto;
   
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
/************navbar Style***************/
/*navbar*/
.navbar-inverse .navbar-nav>.open>a
{
    color: #fff;
    background-color: #D0F9EF;
}
.margin{
    margin:8px;
}